<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="doctorform">
			<h:panelGrid columns="2">

				<h:outputText value="Firstname: "></h:outputText>
				<h:inputText value="#{doctorBean.doctor.firstname}"></h:inputText>
				<h:outputText value="Surname: "></h:outputText>
				<h:inputText value="#{doctorBean.doctor.surname}"></h:inputText>
				<h:outputText value="Specialization: "></h:outputText>
				<h:inputText value="#{doctorBean.doctor.specialization}"></h:inputText>
				<h:outputText value="Work Hours From: "></h:outputText>
				<h:inputText value="#{doctorBean.doctor.workhoursfrom}"></h:inputText>
				<h:outputText value="Work Hours To: "></h:outputText>
				<h:inputText value="#{doctorBean.doctor.workhoursto}"></h:inputText>
				
			</h:panelGrid>

			<h:commandButton value="Submit" action="#{doctorBean.saveDoctor}"></h:commandButton>

			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>