<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="facilityform">
			<h:panelGrid columns="2">

				<h:outputText value="Name: "></h:outputText>
				<h:inputText value="#{facilityBean.facility.name}"></h:inputText>
				<h:outputText value="Address: "></h:outputText>
				<h:inputText value="#{facilityBean.facility.address}"></h:inputText>

			</h:panelGrid>

			<h:commandButton value="Submit" action="#{facilityBean.saveFacility}"></h:commandButton>

			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>