<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="patientform">
			<h:panelGrid columns="2">

				<h:outputText value="Firstname: "></h:outputText>
				<h:inputText value="#{patientBean.patient.firstname}"></h:inputText>
				<h:outputText value="Surname: "></h:outputText>
				<h:inputText value="#{patientBean.patient.surname}"></h:inputText>
				<h:outputText value="Address: "></h:outputText>
				<h:inputText value="#{patientBean.patient.address}"></h:inputText>
				<h:outputText value="Pesel: "></h:outputText>
				<h:inputText value="#{patientBean.patient.pesel}"></h:inputText>

			</h:panelGrid>

			<h:commandButton value="Submit" action="#{patientBean.savePatient}"></h:commandButton>

			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>