<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	<ui:define name="content">
		<h:form id="visitform">
			<h:panelGrid columns="2">
				
				<h:outputText value="Visit Time From: "></h:outputText>
				<h:inputText value="#{visitBean.visit.visittimefrom}"></h:inputText>
				<h:outputText value="Visit Time To: "></h:outputText>
				<h:inputText value="#{visitBean.visit.visittimeto}"></h:inputText>
				<h:outputText value="Visit Date: "></h:outputText>
				<h:inputText value="#{visitBean.visit.visitdate}"></h:inputText>
				
				
			</h:panelGrid>

			<h:commandButton value="Change"
				action="#{visitBean.changeAll}" />
			<h:panelGrid>
				<h:messages showDetail="#{true}" showSummary="#{false}" />
			</h:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>