<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{facilityBean.facilities}" var="item">
      <f:facet name="header">#{msg.personAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">Id</f:facet>
        #{item.id}
      </h:column>
      
      <h:column>
        <f:facet name="header">Name</f:facet>
        #{item.name}
      </h:column>
      
      <h:column>
        <f:facet name="header">Address</f:facet>
        #{item.address}
      </h:column>
      
      <h:column>
        <f:facet name="header">action</f:facet>
           <h:commandLink value="edit " action="#{facilityBean.editFacility}"/>
     <h:commandLink value="delete" action="#{facilityBean.deleteFacility}"/>
     
      </h:column>
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>