<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{visitBean.visits}" var="item">
      <f:facet name="header">#{msg.personAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">Id</f:facet>
        #{item.id}
      </h:column>
      
    <h:column>
        <f:facet name="header">Visit Time From</f:facet>
        #{item.visittimefrom}
      </h:column>
      
      <h:column>
        <f:facet name="header">Visit Time To</f:facet>
        #{item.visittimeto}
      </h:column>
      
      <h:column>
        <f:facet name="header">Visit Date</f:facet>
        #{item.visitdate}
      </h:column>

      
      <h:column>
        <f:facet name="header">action</f:facet>
           <h:commandLink value="edit " action="#{visitBean.editVisit}"/>
     <h:commandLink value="delete" action="#{visitBean.deleteVisit}"/>
     
      </h:column>
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>