<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/templates/default.xhtml">
	
	<ui:define name="content">
	
    <h:form>
    
     <h:dataTable value="#{doctorBean.doctors}" var="item">
      <f:facet name="header">#{msg.personAllLabel}</f:facet>
      
      <h:column>
        <f:facet name="header">Id</f:facet>
        #{item.id}
      </h:column>
      
      <h:column>
        <f:facet name="header">Firstname</f:facet>
        #{item.firstname}
      </h:column>
      
      <h:column>
        <f:facet name="header">Surname</f:facet>
        #{item.surname}
      </h:column>
      
      <h:column>
        <f:facet name="header">Specialization</f:facet>
        #{item.specialization}
      </h:column>
      
      <h:column>
        <f:facet name="header">Work Hours From</f:facet>
        #{item.workhoursfrom}
      </h:column>
      
      <h:column>
        <f:facet name="header">Work HOurs Toe</f:facet>
        #{item.workhoursto}
      </h:column>

      <h:column>
        <f:facet name="header">action</f:facet>
           <h:commandLink value="edit " action="#{doctorBean.editDoctor}"/>
     <h:commandLink value="delete" action="#{doctorBean.deleteDoctor}"/>
     
      </h:column>
     </h:dataTable>
    </h:form>
      
	</ui:define>
	
</ui:composition>